artifacts*/
OlcRTC-iOS/.build/
OlcRTC-iOS/.derived-data/
OlcRTC-iOS/.swiftpm/
OlcRTC-iOS/Frameworks/Mobile.xcframework/
OlcRTC-iOS/Frameworks/Libbox.xcframework/
OlcRTC-iOS/build/
OlcRTC-iOS/DerivedData/
*.xcuserstate
*.xcuserdata/
